## Imports

In [35]:
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Plots

## Read Files

In [36]:
dir_files = '../Dataset/'
col_labels = [
    'Dev_ID',
    'Acc_X',
    'Acc_Y',
    'Acc_Z',
    'Gyr_X',
    'Gyr_Y',
    'Gyr_Z',
    'Mag_X',
    'Mag_Y',
    'Mag_Z',
    'Timestamp',
    'Act_Label'
    ]


def read_file(id=0, dev=1):
    file_path = dir_files + 'part' + str(id) + '/part' + str(id) + 'dev' + str(dev) + '.csv'
    data = pd.read_csv(file_path)
    data.columns = col_labels
    return data
    

data = read_file()
data

,Dev_ID,Acc_X,Acc_Y,Acc_Z,Gyr_X,Gyr_Y,Gyr_Z,Mag_X,Mag_Y,Mag_Z,Timestamp,Act_Label
0,1,-1.7963,9.3742,2.4460,-1.56180,-0.661650,0.597300,-0.34274,0.57631,1.00000,525.42,1
1,1,-1.8696,9.3000,2.3514,-1.18770,-1.284100,0.142120,-0.34476,0.59639,1.01560,544.95,1
2,1,-1.7961,9.3624,2.4584,-0.58399,-2.033400,0.429120,-0.32863,0.62249,1.01560,564.48,1
3,1,-1.6768,9.3506,2.4685,-0.37050,-1.364700,0.371940,-0.33669,0.62048,1.02450,584.01,1
4,1,-1.6656,9.3378,2.4319,-0.79053,0.177930,0.387630,-0.32661,0.60442,1.02000,603.55,1
...,...,...,...,...,...,...,...,...,...,...,...,...
53114,1,-2.2033,9.3479,2.3327,-1.50120,-0.092005,-0.117810,0.22581,0.87751,0.53898,1037900.00,1
53115,1,-2.1798,9.3235,2.3205,-1.59020,-0.091795,-0.007825,0.21169,0.89759,0.53898,1037900.00,1
53116,1,-2.1324,9.3112,2.3076,-1.69930,-0.379580,0.132570,0.22379,0.90361,0.54343,1037900.00,1
53117,1,-2.1327,9.3110,2.2955,-1.55450,-0.241180,0.180670,0.22782,0.89558,0.55234,1038000.00,1
53118,1,-2.1334,9.2982,2.2591,-1.69560,0.881400,0.373460,0.21169,0.89558,0.54120,1038000.00,1

## Outliers Density

In [37]:
def calc_mod(data, n_act=16):
    acc = np.full(n_act, None)
    gyr = np.full(n_act, None)
    mag = np.full(n_act, None)

    for act in range(1, n_act+1):
        activity = data.loc[data['Act_Label'] == 1]
        acc[act-1] = np.sqrt(activity['Acc_X']**2 + activity['Acc_Y']**2 + activity['Acc_Z']**2)
        gyr[act-1] = np.sqrt(activity['Gyr_X']**2 + activity['Gyr_Y']**2 + activity['Gyr_Z']**2)
        mag[act-1] = np.sqrt(activity['Mag_X']**2 + activity['Mag_Y']**2 + activity['Mag_Z']**2)
    
    return [acc, gyr, mag]

[acc, gyr, mag] = calc_mod(data)